{{- if eq .chezmoi.os "darwin" -}}
Include /Users/dubiner/.colima/ssh_config

# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config
{{ end }}

Host *
  HostkeyAlgorithms +ssh-rsa
  PubkeyAcceptedAlgorithms +ssh-rsa
  SendEnv LANG TZ LC_*

{{ if not (and .work .offline) }}
Host cloud
  HostName 158.160.128.176
  User romash1408

Host kg
  HostName 188.240.213.182
  User romash1408

Match originalhost hp exec "ping -c1 -W1 192.168.86.1 >/dev/null 2>&1"
  HostName 192.168.86.11

Host hp
  HostName 192.186.0.10
  User romash1408

Host backup
  HostName 81.26.187.70
  User romash1408

Host p8p-linux
  HostName p8p-linux.wg
  User droid
  Port 2222
{{ end }}

{{ if .work }}
Host dev
  HostName dubiner-dev.vla.yp-c.yandex.net

Host dev-mr
  HostName direct-dev-migration-runner.sas.yp-c.yandex.net

Host prod-mr
  HostName direct-prod-migration-runner.klg.yp-c.yandex.net

Host dev dev-mr prod-mr *.yandex.net
  ForwardAgent ~/.skotty/sock/default.sock
  IdentityAgent ~/.skotty/sock/default.sock
{{ end }}
